@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');
header {
    height: 400px;
    background-image: url(../img/balaton_bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #06435f !important;
}

.nav-item:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.to-kep {
    box-shadow: 1px 1px 3px #06435f;
}

h1,
h2,
thead,
footer {
    font-family: "Marhey", sans-serif;
}

h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px black;
}

h2 {
    font-variant: small-caps;
    text-decoration: underline #1283b9 wavy;
    color: #1283b9;
}

@media only screen and (max-width: 992px) {
    h1 {
        font-size: 1.5rem;
    }
}

.nav-link {
    color: gray;
}

.navbar-brand {
    color: white !important;
}

.nav-link.active,
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white !important;
}

table {
    width: 80%;
    margin: auto;
    box-shadow: 1px 1px 10px #06435f;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #06435f;
    padding: 10px;
    border-left: none;
    border-right: none;
}

thead tr:first-child {
    background-color: #1283b9;
}

thead {
    background-color: #06435f;
    color: white;
    text-align: center;
}

table,
thead th,
thead tr {
    border: none;
}

tbody td:first-child {
    font-weight: bold;
    font-variant: small-caps;
    color: #06435f;
}

tbody td:first-child {
    width: 25%;
}

tbody tr:hover {
    background-color: rgba(18, 133, 186, 0.3);
}

tbody td {
    background-color: rgba(18, 133, 186, 0.1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.img-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(60%);
    transition: all 1s ease;
}

.img-container:hover img {
    filter: grayscale(0%);
    transform: scale(1.04);
    cursor: pointer;
}

.img-container:first-child {
    grid-column: span 2;
    grid-row: span 2;
}

.img-container:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2;
}

footer p {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px black;
}

footer {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 250px;
    padding-bottom: 50px;
}

footer p {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    margin: 0;
    z-index: 2;
}

footer img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}